body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#results {
    margin: 10px 0 0 0;
    color: white;
    height: calc(100vh - 90px);
    overflow-x: none;
    overflow-y: scroll;
    padding-right: 17px;
    /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box;
    /* So the width will be 100% + 17px */
}

#results>.row {
    height: 40px;
    cursor: pointer;
    border-color: var(--bs-body-bg);
    border-style: solid;
    border-width: 2px;
    border-left-width: 0px;
}

#results>.row>.col-6:first-child {
    font-size: 24px;
}

#results>.row .ip {
    margin-left: 10px;
}

#results>.row.rdp {
    background-color: #402eb8;
}

#results>.row.ssh {
    background-color: #700a47;
}

#results>.row.telnet {
    background-color: #4d5451;
}

#results>.row.htp {
    background-color: #91263d;
}

#results>.row.hts {
    background-color: #78116c;
}

#results>.row.smb {
    background-color: #036572;
}

.form-control {
    border-color: white;
    color: white!important;
    margin: 1px;
}

.mt5px {
    margin-top: 5px;
}

.mt10px {
    margin-top: 5px;
}

.jc {
    justify-content: center;
}

.doh {
    width: 3px;
    background-color: red!important;
}

.favimg {
    width: 16px;
    height: 16px;
}

.proto {
    border: 6px white;
}